<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/jquery.ellipsis.js"></script>
    <script src="js/jquery.number.js"></script>
    <script src="scripts/accounting.min.js"></script>
    <script src="js/jquery.tmpl.js"></script>
    <script src="scripts/vue.js"></script>
    <script src="scripts/vuePagination.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/connection.js"></script>
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Hello World</title>
</head>
<body>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div id="header-view">
            <app-header></app-header>
        </div>

        <bottom-menu></bottom-menu>

        <div class="main-content">
            <section class="tb-section" style="padding-bottom: 0; padding-top: 0;">
                <div class="tb-container" style="background-color: #fff !important;">
                    <div style="background-color: #fff;">
                        <table class="table table-responsive">
                            <tr>
                                <td style="color: #f00 !important;" class="text-danger"><strong>ĐƠN HÀNG #{{cartCode}}</strong></td>
                            </tr>
                            <tr>
                                <td style="color: #f00 !important;"><strong>KHÁCH HÀNG #{{userInfo.TEN_CARD_CLIENT}}</strong></td>
                            </tr>
                        </table>

                        <div style="padding: 5px 10px 15px;">
                            <div class="headerbar-list">
                                CHI TIẾT ĐƠN HÀNG GỒM
                            </div>
                            <div style="background-color: #ffcc66;">
                                <div id="lstMatHangDonHang" class="prdCart" style="line-height: 18px;">
                                    <div id="cartItemContainer">
                                        <div style="position: relative;" v-if="cartDetail.length > 0" v-for="(product, index) in cartDetail">
                                            <div style="position: absolute; right: 8px; top: 8px;">
                                                <button class="btn btn-xs btn-danger" v-on:click="deleteProduct(product)">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                            <div class="prdCartItem">
                                                <div><strong>{{index+1}}. {{productMap[product.KEY_MAT_HANG]}}</strong></div>
                                                <div class="text-left" style="margin-top: 5px;">
                                                    <div style="display: inline-block;position: relative;top: -12px;margin-right: 10px;">Số lượng đặt: </div>
                                                    <div style="display: inline-block;width: 150px;">
                                                        <div class="input-group">
                                                            <div class="input-group-btn">
                                                                &nbsp;&nbsp;&nbsp;<button type="button" min="1" targetinput="#quantityInput" class="btn btn-success minusInput"
                                                                                          style="background-color: #dc8c8c; border-color: #dc8c8c;" v-on:click="product.SO_LUONG_HANG > 1 ? product.SO_LUONG_HANG-=1 : ''">
                                                                    <i class="fa fa-minus"></i>
                                                                </button>&nbsp;&nbsp;&nbsp;
                                                            </div>
                                                            <input type="text" id="quantityInput" class="form-control formatnumber text-right" v-model="product.SO_LUONG_HANG" style="font-size: 13px; height: auto;border-color: #dc8c8c;" />
                                                            <div class="input-group-btn">
                                                                &nbsp;&nbsp;&nbsp;<button type="button" targetinput="#quantityInput" class="btn btn-success plusInput"
                                                                                          style="background-color: #dc8c8c; border-color: #dc8c8c;" v-on:click="product.SO_LUONG_HANG+=1">
                                                                    <i class="fa fa-plus"></i>
                                                                </button>&nbsp;&nbsp;&nbsp;
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="display: inline-block;position: relative;top: -12px;margin-left: 10px;">{{product.DON_VI_TINH}}</div>
                                                </div>
                                                <div>Đơn giá: <strong class="formatnumber">{{product.DON_GIA_HANG | currency}}</strong> / Thành tiền: <strong class="text-danger formatnumber">{{product.DON_GIA_HANG * product.SO_LUONG_HANG | currency}}</strong></div>
                                            </div>
                                        </div>
                                        <div v-if="cartDetail.length === 0" style="background-color: #efefef; padding: 50px 0;">
                                            <div class="text-center">
                                                Vui lòng chọn mặt hàng
                                            </div>
                                        </div>
                                    </div>

                                    <div class="prdCartItem" style="padding-top: 10px; padding-bottom: 10px;">
                                        <div class="text-left">
                                            <strong>Bạn đã đặt: {{cartDetail.length}} mặt hàng</strong>
                                            <div class="text-right pull-right">
                                                <strong class="text-danger">{{totalAmount  | currency }}</strong>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="padding: 5px 10px 20px;">
                            <div style="margin-bottom: 10px;">
                                <button type="button" class="btn btn-lg btn-block" data-toggle="modal" data-target="#modalSelectMatHang"
                                        style="background-color: #ffcfcf; border-color: #ffcfcf;">
                                    CHỌN THÊM MẶT HÀNG
                                </button>
                            </div>
                            <div style="margin-bottom: 10px;">
                                <button class="btn btn-lg btn-block" style="background-color: #ffcc66; border-color: #ffcc66;" v-on:click="saveCart">
                                    LƯU VÀ GỬI ĐƠN HÀNG NÀY
                                </button>
                            </div>
                            <div class="text-center">
                                (Quý khách cần kiểm tra chính xác mặt hàng và số lượng trước khi gửi)
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalSelectMatHang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="queryProduct" placeholder="Nhập từ khoá tìm kiếm ..." />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" v-on:click="searchProduct">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="prd-list-ctn" id="listMatHangData">
                            <table class="table table-responsive table-bordered table-striped" v-if="productList.length > 0">
                                <thead style="background-color: #50a81e;">
                                    <tr>
                                        <th colspan="2" style=" color: #fff !important;">Tên sản phẩm/quy cách</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="product in productList">
                                        <td>
                                            <div><strong>{{product.TEN_MAT_HANG}}</strong></div>
                                            <div>HSX: {{product.HANG_SAN_XUAT}}</div>
                                            <div>Lẻ: <span class="formatnumber">{{product.GIA_BAN_LE}}</span> / Sĩ: <span class="formatnumber">{{product.GIA_BAN_SI}}</span></div>
                                            
                                        </td>
                                        <td style="vertical-align: middle; width: 1%;">
                                            <button class="btn btn-success" v-on:click="selectProduct(product.KEY_MAT_HANG)">
                                                Chọn
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div v-if="productList.length === 0" style="background-color: #efefef; padding: 50px 0;">
                                <div class="text-center">
                                    Không tìm thấy mặt hàng
                                </div>
                            </div>
                        </div>
                        <div  v-if="productList.length > 0" class="text-center" id="pagingContainer">
                            <paginate v-model="currentPage" :page-count="pageCount"
                                      :page-range="1"
                                      :click-handler="changePage"
                                      :prev-text="'Prev'"
                                      :next-text="'Next'"
                                      :container-class="'pagination'">
                            </paginate>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    


    <script src="scripts/LayoutComponent.js"></script>
    <script src="js/application.js"></script>
    <script src="js/autosize.min.js"></script>
    <script>
        var application = new applicationJS();

        var app = new Vue({
            el: "#main",
            data: {
                cartCode : "",
                userInfo: {},
                cartItem: {},
                cartDetail: [],
                productMap: {},
                queryProduct: "",
                productList: [],
                pageCount: 0,
                currentPage: 1
            },
            mounted() {
                let urlGetData = HOST_DATA + "Pharmacy/GetNewCartData";
                let moduleInstance = this;
                $.ajax({
                    async: false,
                    type: "GET",
                    url: urlGetData,
                    contentType: "application/json",
                    success: function (response) {
                        moduleInstance.cartCode = response.COD_ORDER_CLIENT;
                        moduleInstance.userInfo = response.CLIENT_INFO;
                    }
                });

                this.loadProduct(this.queryProduct, 1);
            },
            computed : {
                totalAmount: function() {
                    if (!this.cartDetail) {
                        return 0;
                    }
                    return this.cartDetail.reduce(function (totalAmount, value) {
                        return totalAmount + parseInt(value.DON_GIA_HANG * value.SO_LUONG_HANG);
                    }, 0);
                }
            },
            updated() {
                           
            },
            methods: {
                changePage: function (pageNumber) {
                    this.loadProduct(this.queryProduct, pageNumber);
                },
                loadProduct: function (filter, page) {
                    let urlGetGoodByPage = HOST_DATA + "Pharmacy/GetGoodByPage?filter=" + filter + "&page=" + page;
                    let moduleInstance = this;
                    $.ajax({
                        async: false,
                        type: "GET",
                        url: urlGetGoodByPage,
                        contentType: "application/json",
                        success: function (response) {
                            if (response.success) {
                                moduleInstance.productList = response.result;
                                moduleInstance.pageCount = response.totalPage;
                                moduleInstance.currentPage = response.currentPage
                            }
                        }
                    });
                },
                searchProduct: function () {
                    this.loadProduct(this.queryProduct, 1);
                },
                selectProduct: function (KeyPrd) {
                    let prdSelected = this.productList.filter(element => element.KEY_MAT_HANG === KeyPrd)[0];
                    this.productMap[prdSelected.KEY_MAT_HANG] = prdSelected.TEN_MAT_HANG;
                    var newItem = {
                        KEY_ORDER_CLIENT: "00000000-0000-0000-0000-000000000000",
                        KEY_ORDER_GOODS: "00000000-0000-0000-0000-000000000000",
                        IDX_ORDER_GOODS: 0,
                        KEY_MAT_HANG: prdSelected.KEY_MAT_HANG,
                        SO_LUONG_HANG: 1,
                        DON_GIA_HANG: prdSelected.GIA_BAN_LE,
                        TIEN_VIET_NAM: prdSelected.GIA_BAN_LE,
                        DON_VI_TINH: prdSelected.DON_VI_TINH
                    };

                    let checkPrdSeleted = this.cartDetail.filter(element => element.KEY_MAT_HANG === KeyPrd);
                    if (checkPrdSeleted.length === 0) this.cartDetail.push(newItem);
                    else {
                        checkPrdSeleted[0].SO_LUONG_HANG += 1;
                        checkPrdSeleted[0].TIEN_VIET_NAM = checkPrdSeleted[0].SO_LUONG_HANG * checkPrdSeleted[0].DON_GIA_HANG;
                    }
                    
                },
                deleteProduct: function (product) {
                    this.cartDetail.splice(this.cartDetail.indexOf(product), 1);
                },
                saveCart: function () {
                    this.cartItem = {
                        KEY_CARD_CLIENT : this.userInfo.KEY_CARD_CLIENT,
                        COD_ORDER_CLIENT: this.cartCode,
                        TONG_TIEN_HANG: this.totalAmount,
                        TONG_GIAM_GIA: 0,
                        TONG_TIEN_TOAN: this.totalAmount
                    };
                    let moduleInstance = this;
                    navigator.notification.confirm(
                        "Đơn hàng này sẽ được lưu ?",  // message
                        function (buttonIndex) {
                            if (buttonIndex === 1) {
                                if (moduleInstance.cartDetail.length > 0) {
                                    //SpinnerPlugin.activityStart("Đang tải dữ liệu...", { dimBackground: true });
                                    let urlSaveCart = HOST_DATA + "Pharmacy/AddNewCart"
                                    $.ajax({
                                        async: false,
                                        processData: false,
                                        type: "POST",
                                        url: urlSaveCart,
                                        contentType: "application/json",
                                        data: JSON.stringify({ jsonData: JSON.stringify({ orderClient: moduleInstance.cartItem, listGoods: moduleInstance.cartDetail }) }),
                                        success: function (response) {
                                            if (response.success) {
                                                navigator.notification.alert(
                                                    'Lưu đơn hàng thành công!', // message
                                                    null,            // callback to invoke with index of button pressed
                                                    'Lỗi',           // title
                                                    ['OK']     // buttonLabels
                                                );
                                                window.location = 'donhang.html';
                                                return;
                                            }
                                            else {
                                                navigator.notification.alert(
                                                    'Đã có lỗi xảy ra khi lưu dữ liệu!', // message
                                                    null,            // callback to invoke with index of button pressed
                                                    'Lỗi',           // title
                                                    ['OK']     // buttonLabels
                                                );
                                                return;
                                            }
                                        }
                                    });
                                    //SpinnerPlugin.activityStop();
                                }
                                else
                                {
                                    navigator.notification.alert(
                                        'Vui lòng Chọn các sản phẩm cần mua!', // message
                                        null,            // callback to invoke with index of button pressed
                                        'Lỗi',           // title
                                        ['OK']     // buttonLabels
                                    );
                                    return;
                                }
                            }
                        },         // callback
                        'Xác nhận lưu đơn hàng',            // title
                        ['Lưu đơn hàng', 'Huỷ']                  // buttonName
                    );
                    

                }
            }
        });
    </script>
    <style>
        .pagination {
            margin: 0px 0;
        }
    </style>
</body>
</html>
